#header {
    background-color: #FCC8D1;
}

#row {
    background-color:rgb(87, 87, 16);
    font-size: medium;
    
}

th {
    color:black;
    font-size:large;
    font-weight: 500;
}

button {
    margin-left: 1300px;
    border: 1px solid #FEF2F4;
    border-radius: 10px;
    background-color: chocolate;
    color: #FEF2F4;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

div {
    background-color:darksalmon;
    display: flex;
}

p {
    color: #FEF2F4;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 5px;
}

section {
    height: 100%;
}